.general {
  text-align: center;
  background-color: #ADEAEA;
}


.title h1 {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  margin: 0em;
  border: 0.2em solid skyblue;
  text-decoration: underline overline;
}



.description {
  padding: 0.5em;
}

.description .top {
  padding-top: 0.6em;
}
.description .bottom {
  padding-bottom: 0.6em;
}

.description p {
  background-color:	rgb(56,142,142);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1em;
  margin: 0em;
  font-size: 1em;
}
